@model IEnumerable<CapaDatos.Entidades.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
        <br />
        <h2 class="h2">Listado de Productos disponibles en el sistema</h2>
    </div>
</div>

<br />

<table class="table center-block">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoProducto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoProducto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProducto }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Ver", "Details", new { id = item.IdProducto }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProducto }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>



<p>
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class = "btn btn-secondary btn-sm" })
</p>
